.pure-form input {
	min-width: 100%;
}
.header .pure-form { text-align: left;}

.pure-form input.error {    color: #b94a48;
    border-color: #e9322d
}

.pure-menu-link.disabled,.pure-menu-link.disabled:hover {
	background-color: #bdc3c7;
	color: white;
}

.pure-menu-link.selected,.pure-menu-link.selected:hover {
	background-color: #f1c40f;
	color: white;
}
.pure-menu-link.ordered,.pure-menu-link.ordered:hover {
	background-color: #2ecc71;
	color: white;
}
.button-xsmall {
                font-size: 70%;
            }
    
    
            .button-secondary {
                background: rgb(66, 184, 221); /* this is a light blue */
                color: white;
            }
.hint { font-size: 0.8rem }
.hint a { margin: .4rem .8rem }
dt { font-weight: 800; font-size: 0.7rem; line-height: 1; margin-top: 0.5rem }
dl.customer { margin-bottom: 1rem; cursor: pointer;}
dl.customer dt { font-size: 1rem; }
dl.customer dd  { margin-left: 1rem; }