<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">
  <title>(: menu master :)</title>

  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css" integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/side-menu.css">
  <link rel="stylesheet" href="/assets/css/forms.css">


</head>

<body onhashchange="location.reload()">



  <div id="main">
    <a href="#menu" id="menuLink" class="menu-link">
      <span></span>
    </a>

    <div id="menu">
      <div class="pure-menu">
        <a class="pure-menu-heading" href="#/">
          <small>menu master:</small>
        </a>

        <ul class="pure-menu-list">
          <li class="pure-menu-item ">&nbsp;</li>

          <li class="pure-menu-item ">
            <a href="/user/#/login" class="pure-menu-link">login</a>
          </li>

          <li class="pure-menu-item ">
            <a href="/user/#/create" class="pure-menu-link">rejestracja</a>
          </li>
        </ul>
      </div>
    </div>

    <section id="con" class="content" v-cloak>
      <div class="pure-g" v-if="menus.length==6">
        
        <div class="header pure-menu pure-u-3-5">
          <h3>
            <small>menu na</small> {{current.week}} tydzień
            <small>{{current.year}} roku</small>
          </h3>
        </div>

        <div class="pure-menu pure-u-3-5" v-if="menus.length==6">
          <br/>
          <a href="/user/#/login" v-bind:class="form.day[1]" class="pure-menu-heading pure-menu-link">poniedziałek : <small>{{menus[1].info}}</small></a>

          <ul class="pure-menu-list">
            <li class="pure-menu-item" v-if="menus[1].breakfast">
              <a href="/user/#/login" v-bind:class="form.day[1]" class=" pure-menu-link">{{menus[1].breakfast}}</a>
            </li>
            <li class="pure-menu-item" v-if="menus[1].lunch">
              <a href="/user/#/login" v-bind:class="form.day[1]" class=" pure-menu-link">{{menus[1].lunch}}</a>
            </li>
            <li class="pure-menu-item" v-if="menus[1].tea">
              <a href="/user/#/login" v-bind:class="form.day[1]" class=" pure-menu-link">{{menus[1].tea}}</a>
            </li>
          </ul>
          <br/>
          <br/>
          <a href="/user/#/login" v-bind:class="form.day[2]" class="pure-menu-heading pure-menu-link">wtorek : <small>{{menus[2].info}}</small></a>
          <ul class="pure-menu-list">
            <li class="pure-menu-item" v-if="menus[2].breakfast">
              <a href="/user/#/login" v-bind:class="form.day[2]" class=" pure-menu-link">{{menus[2].breakfast}}</a>
            </li>
            <li class="pure-menu-item" v-if="menus[2].lunch">
              <a href="/user/#/login" v-bind:class="form.day[2]" class=" pure-menu-link">{{menus[2].lunch}}</a>
            </li>
            <li class="pure-menu-item" v-if="menus[2].tea">
              <a href="/user/#/login" v-bind:class="form.day[2]" class=" pure-menu-link">{{menus[2].tea}}</a>
            </li>
          </ul>
          <br/>
          <br/>
          <a href="/user/#/login" v-bind:class="form.day[3]" class="pure-menu-heading pure-menu-link">środa : <small>{{menus[3].info}}</small></a>
          <ul class="pure-menu-list">
            <li class="pure-menu-item" v-if="menus[3].breakfast">
              <a href="/user/#/login" v-bind:class="form.day[3]" class=" pure-menu-link">{{menus[3].breakfast}}</a>
            </li>
            <li class="pure-menu-item" v-if="menus[3].lunch">
              <a href="/user/#/login" v-bind:class="form.day[3]" class=" pure-menu-link">{{menus[3].lunch}}</a>
            </li>
            <li class="pure-menu-item" v-if="menus[3].tea">
              <a href="/user/#/login" v-bind:class="form.day[3]" class=" pure-menu-link">{{menus[3].tea}}</a>
            </li>
          </ul>
          <br/>
          <br/>
          <a href="/user/#/login" v-bind:class="form.day[4]" class="pure-menu-heading pure-menu-link">czwartek : <small>{{menus[4].info}}</small></a>

          <ul class="pure-menu-list">
            <li class="pure-menu-item" v-if="menus[4].breakfast">
              <a href="/user/#/login" v-bind:class="form.day[4]" class=" pure-menu-link">{{menus[4].breakfast}}</a>
            </li>
            <li class="pure-menu-item" v-if="menus[4].lunch">
              <a href="/user/#/login" v-bind:class="form.day[4]" class=" pure-menu-link">{{menus[4].lunch}}</a>
            </li>
            <li class="pure-menu-item" v-if="menus[4].tea">
              <a href="/user/#/login" v-bind:class="form.day[4]" class=" pure-menu-link">{{menus[4].tea}}</a>
            </li>
          </ul>
          <br/>
          <br/>
          <a href="/user/#/login" v-bind:class="form.day[5]" class="pure-menu-heading pure-menu-link">piątek : <small>{{menus[5].info}}</small></a>

          <ul class="pure-menu-list">
            <li class="pure-menu-item" v-if="menus[5].breakfast">
              <a href="/user/#/login" v-bind:class="form.day[5]" class=" pure-menu-link">{{menus[5].breakfast}}</a>
            </li>
            <li class="pure-menu-item" v-if="menus[5].lunch">
              <a href="/user/#/login" v-bind:class="form.day[5]" class=" pure-menu-link">{{menus[5].lunch}}</a>
            </li>
            <li class="pure-menu-item" v-if="menus[5].tea">
              <a href="/user/#/login" v-bind:class="form.day[5]" class=" pure-menu-link">{{menus[5].tea}}</a>
            </li>
          </ul>
          <br/>

        </div>

      </div>
    </section>
  </div>



  <script src="/assets/vendor/vue.js"></script>
  <script src="/assets/vendor/vue-resource.js"></script>
  <!-- vue -->
  <script src="/assets/js/index.js"></script>
  <script src="/assets/js/ui.js"></script>

</body>

</html>
